.container{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

a{
    text-decoration: none;
    color: inherit;
}
img {
    height: 200px;
}

nav{
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: red;
    color:white;
}


main{
    padding: 16px;
}

body{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer{
    color:black;
    background-color: greenyellow;
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    width:100% ;
}

h1{
    color: green;
}

#recipes{
    color: green;
}

html{
    min-height: 100%;
}